.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.App-adder {
  display: flex;
  align-items: center;
  justify-content: center;
}





