.ArticleList {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.ArticleList-ArtAdder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ArticleList-todo-box{
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    margin: auto;
}

.ArticleList-todo {
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
}

.ArticleList-crossedArt {
    text-decoration: line-through;
}