.ArticleList {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.ArticleList-ArtAdder {
    display: flex;
    align-items: center;
    justify-content: center;
}